.SliderRoot[data-orientation="vertical"] {
  flex-direction: column;
  width:20px;
  height: 100%
}

.SliderTrack[data-orientation="vertical"] {
  width: 3px;
}

.SliderRange[data-orientation="vertical"] {
  width: 100%
}